@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
$font-family: 'Schibsted Grotesk';

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}

